<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head">
	<title>BookSaw</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.css}"/>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/icomoon.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">
	<link th:rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>

<body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">

	<div th:fragment="navbar" id="header-wrap">

		<div class="top-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="social-links">
							<ul>
								<li>
									<a th:href="@{/facebook}"><i class="icon icon-facebook"></i></a>
								</li>
								<li>
									<a th:href="@{/twitter}"><i class="icon icon-twitter"></i></a>
								</li>
								<li>
									<a th:href="@{/youtube}"><i class="icon icon-youtube-play"></i></a>
								</li>
								<li>
									<a th:href="@{/be}"><i class="icon icon-behance-square"></i></a>
								</li>
							</ul>
						</div><!--social-links-->
					</div>
					<div class="col-md-6">
						<div class="right-element">
							<a th:href="@{/account}" class="user-account for-buy"><i
									class="icon icon-user"></i><span>Account</span></a>
							<a th:href="@{/cart}" class="cart for-buy"><i class="icon icon-clipboard"></i><span>Cart:(0
									$)</span></a>

							<div class="action-menu">

								<div class="search-bar">
									<a th:href="@{/search}" class="search-button search-toggle"
										data-selector="#header-wrap">
										<i class="icon icon-search"></i>
									</a>
									<form role="search" method="get" class="search-box">
										<input class="search-field text search-input" placeholder="Search"
											type="search">
									</form>
								</div>
							</div>

						</div><!--top-right-->
					</div>

				</div>
			</div>
		</div><!--top-content-->

		<header id="header">
			<div class="container-fluid">
				<div class="row">

					<div class="col-md-2">
						<div class="main-logo">
							<a th:href="@{/index}"><img src="images/main-logo.png" alt="logo"></a>
						</div>

					</div>

					<div class="col-md-10">

						<nav id="navbar">
							<div class="main-menu stellarnav">
								<ul class="menu-list">
									<li class="menu-item active"><a th:href="@{/home}">Home</a></li>
									<li class="menu-item has-sub">
										<a th:href="@{/pages}" class="nav-link">Pages</a>

										<ul>
											<li class="active"><a th:href="@{/home}">Home</a></li>
											<li><a th:href="@{/about}">About </a>
											</li>
											<li><a th:href="@{/styles}">Styles </a>
											</li>
											<li><a th:href="@{/blog}">Blog </a></li>
											<li><a th:href="@{/single-post}">Post Single </a></li>
											<li><a th:href="@{/shop}">Our Store </a>
											</li>
											<li><a th:href="@{/single-product}">Product Single </a></li>
											<li><a th:href="@{/contact}">Contact </a></li>
											<li><a th:href="@{/thank-you}">Thank You </a></li>
										</ul>

									</li>
									<li class="menu-item"><a th:href="@{/feature-books}" class="nav-link">Featured</a>
									</li>
									<li class="menu-item"><a th:href="@{/popular-books}" class="nav-link">Popular</a>
									</li>
									<li class="menu-item"><a th:href="@{/special-offer}" class="nav-link">Offer</a></li>
									<li class="menu-item"><a th:href="@{/lastest-log}" class="nav-link">Articles</a>
									</li>
									<li class="menu-item"><a th:href="@{/download-app}" class="nav-link">Download
											App</a></li>

								</ul>

								<div class="hamburger">
									<span class="bar"></span>
									<span class="bar"></span>
									<span class="bar"></span>
								</div>

							</div>
						</nav>

					</div>

				</div>
			</div>
		</header>

		<section id="billboard">

			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<button class="prev slick-arrow">
							<i class="icon icon-arrow-left"></i>
						</button>

						<div class="main-slider pattern-overlay">
							<div class="slider-item">
								<div class="banner-content">
									<h2 class="banner-title">Life of the Wild</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet,
										libero
										ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
										urna, a eu.</p>
									<div class="btn-wrap">
										<a th:href="@{/home}" class="btn btn-outline-accent btn-accent-arrow">Read
											More<i class="icon icon-ns-arrow-right"></i></a>
									</div>
								</div><!--banner-content-->
								<img th:src="@{/images/main-banner1.jpg}" alt="banner" class="banner-image">
							</div><!--slider-item-->

							<div class="slider-item">
								<div class="banner-content">
									<h2 class="banner-title">Birds gonna be Happy</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet,
										libero
										ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis
										urna, a eu.</p>
									<div class="btn-wrap">
										<a th:href="@{/home}" class="btn btn-outline-accent btn-accent-arrow">Read
											More<i class="icon icon-ns-arrow-right"></i></a>
									</div>
								</div><!--banner-content-->
								<img th:src="@{/images/main-banner2.jpg}" alt="banner" class="banner-image">
							</div><!--slider-item-->

						</div><!--slider-->

						<button class="next slick-arrow">
							<i class="icon icon-arrow-right"></i>
						</button>

					</div>
				</div>
			</div>

		</section>
		<section id="client-holder" data-aos="fade-up">
			<div class="container">
				<div class="row">
					<div class="inner-content">
						<div class="logo-wrap">
							<div class="grid">
								<a th:href="@{/home}"><img th:src="@{/images/client-image1.png}" alt="client"></a>
								<a th:href="@{/home}"><img th:src="@{/images/client-image2.png}" alt="client"></a>
								<a th:href="@{/home}"><img th:src="@{/images/client-image3.png}" alt="client"></a>
								<a th:href="@{/home}"><img th:src="@{/images/client-image4.png}" alt="client"></a>
								<a th:href="@{/home}"><img th:src="@{/images/client-image5.png}" alt="client"></a>
							</div>
						</div><!--image-holder-->
					</div>
				</div>
			</div>
		</section>

	</div><!--header-wrap-->


</html>