<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Register</title>
		<link th:rel="stylesheet" th:href="@{/css/login_register.css}">
	</head>

	<body>
		<section>
			<div class="imageBox">
				<img th:src="@{/images/sach.jpg}" alt="">
			</div>
			<div class="content-box">
				<div class="form-box">
					<h2>Register</h2>
					<form action="">
						<div class="input-box">
							<span>Username</span>
							<input type="text" name="" placeholder="">
						</div>
						<div class="input-box">
							<span>Email</span>
							<input type="ema" name="" placeholder="">
						</div>
						<div class="input-box">
							<span>Password</span>
							<input type="password" name="" placeholder="">
						</div>
						<div class="input-box">
							<span>Re-Type Password</span>
							<input type="password" name="" placeholder="">
						</div>
						<div class="input-box">
							<input type="submit" value="Sign Up" name="" placeholder="">
						</div>
						<div class="input-box">
							<p>Already have an account? <a th:href="@{/login}">Sign In</a></p>
						</div>
					</form>
				</div>
			</div>
		</section>

		<!--<script src="script.js"></script>-->
	</body>

	</html>